Data structures and algorithms using Python

In [10]:
stock_prices = [ 298,305,320,301,292] ##list

In [2]:
stock_prices.insert(1,284)

In [3]:
print(stock_prices)

[298, 284, 305, 320, 301, 292]

In [7]:
stock_prices.remove(298)

In [8]:
print(stock_prices)

[284, 305, 320, 301, 292]

In [14]:
"""
Exercise: Array Data Structure 
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

"""
expens=[2200,2350,2600,2130,2190] # create a list to store monthly expenses 
print(expens[1]-expens[0]) # Extra spent money in February

150

In [15]:
total_expense_1st_quarter = print(expens[0]+expens[1]+expens[2])

7150

In [22]:
print("Did you spent 2000$ in any month")
if(2000 in expens)== False:
    print("I am not")
else:
    print("Yes I spent")

Did you spent 2000$ in any month
I am not

In [23]:
#June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expens.insert(5,1980)

In [24]:
print(expens)

[2200, 2350, 2600, 2130, 2190, 1980]

In [28]:
#question 5 answer
expens=[2200,2350,2600,2130,2190]
refund = 200
total_expense_april = 2130-refund
expens.remove(2130)
expens.insert(3,total_expense_april)

In [29]:
print(expens)

[2200, 2350, 2600, 1930, 2190]

In [30]:
# You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

In [31]:
# length of the list 
len(heros)

5

In [36]:
# Add black panther in the list 
heros.insert(5,'black panther')

In [38]:
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther', 'black panther']

In [40]:
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
# solution of question 4
heros=['spider man','thor','hulk','iron man','captain america']

In [42]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'iron man', 'captain america', 'black panther']

In [43]:
# sort list using alphabetical order 
heros.sort()

In [44]:
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [54]:
# Create a list of all odd numbers between 1 and a max number. Max number is take from a user 
max_num=int(input())
list1 = []
for i in range(max_num):
    if i%2 !=0:
        list1.append(i)
print((list1))

4
[1, 3]

# Linked List in python

In [55]:
stock_prices = [ ]

In [56]:
stock_prices.append(298)

In [57]:
stock_prices.append(305)

In [58]:
stock_prices.append(222)

In [59]:
print(stock_prices)

[298, 305, 222]

In [60]:
stock_prices.append(124)

In [61]:
print(stock_prices)

[298, 305, 222, 124]

In [65]:
# Implimentation of linked list in python
# Node class
class Node:
    def __init__(self,value,nextNode=None):
        self.value = value
        self.nextNode = nextNode
# "3"-> "7" -> "10"  
node1 = Node("3")
node2 = Node("7")
node3 = Node("10")
node4 = Node("77")

node1.nextNode = node2
node2.nextNode = node3
node3.nextNode = node4
# 3->7->10
currentNode = node1
while True:
    print(currentNode.value,"->",)
    if currentNode.nextNode is None:
        print("None")
        break
    currentNode = currentNode.nextNode

3 ->
7 ->
10 ->
77 ->
None

In [ ]:
# Implimentation of linked list in another way

In [75]:
class Node:
    def __init__(self,data = None, next = None):
        self.data = data
        self.next = next
class LinkedList:
    def __init__(self):
        self.head = None
    def insert_at_begining(self,data):
        node = Node(data,self.head)
        self.head = node
    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return
        itr = self.head
        linked_list_string = ""
        while itr:
            linked_list_string +=str(itr.data) +'-->'
            itr = itr.next
        print(linked_list_string)
    
    
    def insert_at_end(self,data):
        if self.head is None:
            self.head = Node(data,None)
            return
        itr = self.head
        while itr.next:
            itr = itr.next
        itr.next = Node(data,None)           
    
    
if __name__ == '__main__':
    ll=LinkedList()
    ll.insert_at_begining(5)
    ll.insert_at_begining(7)
    ll.insert_at_end(55)
    ll.print()

7-->5-->55-->